<a href="https://colab.research.google.com/github/Gimjungseok/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
input('당신의 이름을 입력하시오 >>> ')

당신의 이름을 입력하시오 >>> 11

'11'

In [3]:
b = input('당신의 나이 >>> ')

당신의 나이 >>> 19

In [4]:
type(b)

str

In [8]:
c = int(b)
c, type(c)

(19, int)

In [10]:
year = int(input('출생년도를 입력>>>'))
print('당신은', year, '년에 태어났군요')
age = 2020-year+1
print('당신의 나이는', age, ' 세 입니다')

출생년도를 입력>>>2002
당신은 2002 년에 태어났군요
당신의 나이는 19  세 입니다

In [11]:
s='a is {}'
s.format('apple')

'a is apple'

In [13]:
a = '%s %d 개 가격은 %.2f 달라'
b = a %('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [14]:
a = '%s %d마리 가격은 %d원'
b = a %('치킨', 2, 20000*2)
print(a)
print(b)

%s %d마리 가격은 %d원
치킨 2마리 가격은 40000원