<a href="https://colab.research.google.com/github/Gimjungseok/Python/blob/master/30305_%EA%B9%80%EC%A4%91%EC%84%9D_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
jumsu = [100,75,67,45,80]
for i, val in enumerate(jumsu) :
  if val >= 60 :
    print("%d 번 학생은 합격입니다."%(i+1))
  else : 
    print("%d 번 학생은 불합격입니다."%(i+1))

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
3 번 학생은 합격입니다.
4 번 학생은 불합격입니다.
5 번 학생은 합격입니다.

In [0]:
import pandas as pd
covid = [['인천',120,27,5], ['서울',210,301,11], ['경기',120,132,10],['강원',24,21,7],['제주',84,54,3]]

df=pd.DataFrame(covid)
df.index = [1,2,3,4,5]
df.columns = ['지역','병상','확진자','사망자']
df